.my-profile {
    width: 30rem;
    border: 1px solid grey;
    padding: 20px;
    margin-left: 40px;
    border-radius: 2%;
    position:fixed;
    margin-top: 100px;
  }
  
  .my-calendar{
    position:fixed;
      float :right ;
    margin-top: 100px;
    right: 30px
  }

.parag{
  position: fixed;
  border: 1px solid;
  height: 180px;
  padding: 75px;
  margin-top: 373px;
  margin-right: 60px;
}

  .post-file{
    border: 1px solid;
    width: 450px;
    margin-left: 13%;
    margin-top: 149px;
    padding: 30px;
   
  }